*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.form{
    height: 500px;
    text-align:center;
}
.contact-img{
    width: 103%;
    height: 500px;
}
